.card {
  border: none !important;
  justify-content: center;
  width: 260px;
}
.card-img-top {
  margin: 0 !important;
  padding: 0 !important;
  height: 250px !important;
  width: 250px !important;
}

.badge {
  position: absolute;
  background-color: hsl(0, 92%, 54%) !important;
  border-radius: 50px !important;
  top: 5px;
  right: 2.2rem;
}

.cart-btn {
  border: none;
  outline: none;
  background: none;
}

.no-cart-item-btn {
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
